<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eppz!swizzler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>eppz!swizzlerTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE50EA0918CBC85D004154D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE50EA1618CBC85D004154D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE73434718CBC417002B5D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE73435418CBC417002B5D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE73436D18CBC48B002B5D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE73437A18CBC48B002B5D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E717E618BF929B00E362AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E7180718BF929B00E362AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
